::ng-deep {
  .custom-button-green {
    color: #4c9950 !important;
    font-weight: 500 !important;
  }

  .custom-button-gray {
    color: #838383 !important;
    font-weight: 500 !important;
  }

  .custom-mat-form-field {
    font-size: 14px !important;
  }

  .mat-form-field.ng-invalid.ng-touched {
    .mat-form-field-label {
      color: #f44336 !important;
    }

    .mat-form-field-underline {
      background-color: #f44336 !important;
    }

    .mat-form-field-ripple {
      background-color: #f44336 !important;
    }
  }

  .custom-mat-error {
    color: #f44336 !important;
    font-size: 11px !important;
  }

  .mat-calendar {
    background-color: rgb(245, 245, 245) !important;
    border-radius: 7px;
  }

  .mat-calendar-body-active {
    background-color: #4c9950 !important;
    color: white;
    border-radius: 32px;
  }
}